{% extends 'layout.html' %}

{% block content %}
  <h1>Product List</h1>

  {% if products %}
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products_dict %}
          <tr>
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | round(2) }}</td>  <!-- Display price with 2 decimal places -->
            <td>
              {% if product.image %}
                <img src="data:image/jpeg;base64,{{ product.image }}" alt="Product Image" style="width: 100px; height: auto;">
              {% else %}
                <p>No Image</p>
              {% endif %}
            </td>
            <td>
              <!-- Delete Product Button -->
              <form action="{{ url_for('views.delete_product', product_id=product.id) }}" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No products found.</p>
  {% endif %}
{% endblock %}
